{% extends "main/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section mb-4 mt-4">
        <h3 style="text-align: center; color:var(--indigo);">Reset time since last drink!</h3>
        <div class="section-center">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                    <a class="btn btn-outline-secondary" href="{% url 'index'  %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}